body {
  
}

.stage{
  width:1920px;
  height:1080px;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  overflow:hidden;
  z-index:0;
}

.holder{
  width:1920px;
  height:1080px;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
}

#background{
  background-image:none;
  /*
  background-image: url('../Assets/temp/The Chase Celebrity Christmas Special - 26th December 2022 6-48 screenshot.png');
  */

  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  opacity:1;
}

/* Cash Builder Holder */

#cb-hold{
  opacity:1;
}

.cb-gpx{
  width:26%;
  height:9.3%;
  top:85.5%;
  left:37%;
}

.cb-gpx-keyframe{
  width:120%;
  height:100%;
  left:-6.5%;
  background-image:url("../Assets/clockOn (01-06) SpriteSheet 6.png");
  background-repeat: no-repeat;
  /*
	animation: CBGpxMSS 0.35s steps(6) infinite;
  */
  transform-origin: top left;
  transform: scale(1, 1);
  opacity:0;
}

@keyframes CBGpxMSS {
	from {
		background-position-y: 0px;
	}
	to {
		background-position-y: -606px;
	}
}

.cb-gpx-still {
  width:100%;
  height:100%;
  opacity:0;
}

.cb-money {
  width:65.5%;
  height:70%;
  left:3.5%;
  top:15%;
}

.cb-money svg{
  width:100%;
  height:100%;
  top:0%;
  left:0%;
}

.cb-money svg text{
  fill:white;
  font-family:"Univers 59";
  font-size:72px;
  letter-spacing: 3px;
  text-shadow: 0 0 5px white;
  filter: blur(0.75px);
}

.cb-timer{
  width:23%;
  height:70%;
  left:73%;
  top:15%;
}

.cb-timer svg{
  width:100%;
  height:100%;
  top:0%;
  left:0%;
}

.cb-timer svg text{
  fill:white;
  font-family:"Univers 59";
  font-size:62px;
  letter-spacing: 3px;
  text-shadow: 0 0 5px white;
}

/* Head to Head Holder */

#h2h-hold{
  opacity:1;
}

.ans-gpx{
  width:67.8%;
  height:7.9%;
  top:86.6%;
  left:16.1%;
  opacity:0;
}

.ans-border{
  width:100%;
  height:100%;
  top:0%;
  left:0%;
}

.ans-normal-holder, .ans-content-holder, .ans-lock-holder, .ans-correct-holder, .ans-chaser-holder{
  width:97.8%;
  height:68%;
  top:15%;
  left:1.1%;
}

#ans-content-holder-upper .ans-content{
  opacity: 0;
}

.ans-normal, .ans-content, .ans-lock, .ans-correct, .ans-chaser{
  height:100%;
  top:0%;
}

.ans-lock, .ans-correct, .ans-chaser {
  opacity:0;
}

#ans-normal-a, #ans-content-a, #ans-lock-a, #ans-correct-a, #ans-chaser-a {
  width:33.33%;
  left:0%;
}

#ans-normal-b, #ans-content-b, #ans-lock-b, #ans-correct-b, #ans-chaser-b {
  width:33.34%;
  left:33.33%;
}

#ans-normal-c, #ans-content-c, #ans-lock-c, #ans-correct-c, #ans-chaser-c {
  width:33.33%;
  left:66.67%;
}

.ans-letter {
  width:9%;
  height:100%;
  top:0%;
  left:3%;
}

.ans-letter svg{
  width:100%;
  height:100%;
  top:0%;
  left:0%;
}

.ans-letter svg text{
  fill:white;
  font-family:"Univers 59";
  font-size:58px;
  text-shadow: 0 0 5px white;
  filter: blur(0.75px);
} 

.ans-text {
  width:82%;
  height:100%;
  top:0%;
  left:13%;
}

.ans-text svg{
  width:100%;
  height:100%;
  top:0%;
  left:0%;
}

.ans-text svg text{
  fill:white;
  font-family:"Univers 59";
  font-size:50px;
  word-spacing:10px;
  letter-spacing: 2px;
  text-shadow: -2px -2px 7px rgba(0,0,0,1);
} 

.ans-normal {
  background-image:url('../Assets/ipad_btn_tcio_answer@2x new_4354.png');
  background-repeat:no-repeat;
  background-size:cover;
}

.ans-lock-keyframe {
  width:200%;
  height:200%;
  top:-73%;
  left:-8.6%;
  background-image:url("../Assets/Select SpriteSheet 30 one column.png");
  background-repeat: no-repeat;
  /*
	animation: AnsLockMSS 1s steps(29);
  animation-fill-mode: forwards;
  */
  transform-origin: top left;
  transform: scale(0.99);
}

@keyframes AnsLockMSS {
	from {
		background-position-y: 0px;
	}
	to {
		background-position-y: -4350px;
	}
}

.ans-correct-keyframe {
  width:200%;
  height:200%;
  top:-73%;
  left:-8.6%;
  background-image:url("../Assets/Correct SpriteSheet 25 one column.png");
  background-repeat: no-repeat;
  /*
	animation: AnsCorrectMSS 1s steps(24);
  animation-fill-mode: forwards;
  */
  transform-origin: top left;
}

@keyframes AnsCorrectMSS {
	from {
		background-position-y: 0px;
	}
	to {
		background-position-y: -3600px;
	}
}

.ans-chaser-keyframe {
  width:60%;
  height:100%;
  top:-58%;
  left:-10.5%;
  background-image:url("../Assets/ChaserHD SpriteSheet 75 one column.png");
  background-repeat: no-repeat;
	animation: AnsChaserMSS 3s steps(74) infinite;
  transform-origin: top left;
  transform:scale(2.02);
}

@keyframes AnsChaserMSS {
	from {
		background-position-y: 0px;
	}
	to {
		background-position-y: -4736px;
	}
}

.q-gpx{
  width:67.8%;
  height:14%;
  top:81.2%;
  left:16.1%;
  opacity:0;
}

.q-gpx-keyframe{
  width:200%;
  height:100%;
  left:-16.5%;
  background-image:url("../Assets/Question (01-09) SpriteSheet 9 one column.png");
  background-repeat: no-repeat;
  /*
	animation: QGpxMSS 1s steps(8) infinite;
  animation-fill-mode: forwards;
  */
  transform-origin: top left;
  transform: scale(1, 1);
  opacity:0;
}

@keyframes QGpxMSS {
	from {
		background-position-y: 0px;
	}
	to {
    /*
		background-position-y: -1359px;
    */
		background-position-y: -1208px;
	}
}

.q-gpx-still {
  width:100%;
  height:100%;
}

.q-text {
  width:96%;
  height:75%;
  top:12.5%;
  left:2%;
  opacity:0;
}

.q-text svg{
  width:100%;
  height:100%;
  left:0%;
  top:0%;
}

.q-text svg text{
  fill:white;
  font-family:"Univers 59";
  font-size:55px;
  word-spacing:10px;
  letter-spacing: 1px;
  text-shadow: -2px -2px 7px rgba(0,0,0,1);
}

.name-tag-holder{
  width:68%;
  height:7.6%;
  top:66.3%;
  left:16%;
}

.name-tag{
  width:20.7%;
  height:100%;
  top:0%;
  opacity:0;
}

.name-tag svg{
  width:90%;
  height:60%;
  top:20%;
  left:5%;
}

.name-tag svg text{
  fill:white;
  font-family:"Univers 59";
  font-size:54px;
  text-shadow: -2px -2px 7px rgba(0,0,0,1);
} 

#name-tag-player{
  left:0%;
  background-image:url("../Assets/ContTagHD_2745.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#name-tag-chaser{
  right:0%;
  background-image:url("../Assets/ChaserTagHD_2671.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Final Chase Holder */

#fc-hold{
  opacity:1;
}

.fc-timer {
  width:8.2%;
  height:8.8%;
  left:76%;
  top:73.8%;
  opacity:0;
}

.fc-timer-bg {
  width:100%;
  height:100%;
}

.fc-timer svg{
  width:78%;
  height:80%;
  top:10%;
  left:12%;
}

.fc-timer svg text{
  fill:white;
  font-family:"Univers 59";
  font-size:62px;
  letter-spacing: 3px;
  text-shadow: 0 0 5px white;
  filter: blur(0.75px);
}

.fc-bar{
  width:68.7%;
  height:12.8%;
  top:82.6%;
  left:15.6%;
  opacity:0;
}

.fc-bar-holder {
  width:97%;
  top:9%;
  left:1.5%;
  transform-origin: top left;
}

#fc-bar-holder-blue{
  height:82.2%;
  clip-path: inset(-1000% -1000% -1000% -1000%);
}

#fc-bar-holder-red{
  height:82.3%;
  clip-path: inset(-1000% 100% -1000% -1000%);
}

.fc-bar-bg {
  width:101%;
  height:101%;
  top:-0.5%;
  left:-0.5%;
}

.fc-bar-win {
  width:103%;
  height:103%;
  top:-1%;
  left:-1.5%;
  clip-path: inset(0% 0% 0% 0%);
  opacity:0;
}

.fc-bar-win-keyframe {
  width:100%;
  height:100%;
  transform: scale(1.28, 1.11);
  transform-origin: top left;
}

#fc-bar-win-keyframe-red {
  background-image:url("../Assets/EGredwin SpriteSheet 36 one column.png");
	/*animation: EGWinMSS 0.735s steps(21) infinite;*/
}

@keyframes EGWinMSS {
	from {
		background-position-y: -1515px;
	}
	to {
		background-position-y: -3636px;
	}
}

.fc-bar-pushback {
  width:101%;
  height:101%;
  top:-0.5%;
  left:-0.5%;
  background-image:url("../Assets/Bar Pushback Full.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:-5%;
  opacity:0;
}

.fc-step-holder{
  width:97%;
  height:76%;
  top:9.5%;
  left:1.5%;
  clip-path: inset(0% 0% 0% 0%);
  /*
  width:97%;
  height:82.2%;
  top:9%;
  left:1.5%;
  background-color: red;
  */
}

.fc-step {
  width:100%;
  height:100%;
  left:0%;
  top:0%;
  position:absolute;
}

.fc-step-now-holder{
  width:100%;
  height:100%;
  opacity:0;
}

.fc-step-now{
  width:100%;
  height:100%;
}

#fc-step-now-blue{
  animation:StepNowBlue 2s infinite;
}

@keyframes StepNowBlue {
	0% {
		background-color:rgb(255, 255, 255, 0.5);
	}
	50% {
		background-color:rgb(255, 255, 255, 0.75);
	}
	100% {
		background-color:rgb(255, 255, 255, 0.5);
	}
}

#fc-step-now-red{
  animation:StepNowRed 2s infinite;
}

@keyframes StepNowRed {
	0% {
		background-color:rgb(255, 216, 80, 0.5);
	}
	50% {
		background-color:rgb(255, 216, 80, 0.75);
	}
	100% {
		background-color:rgb(255, 216, 80, 0.5);
	}
}

.fc-step svg{
  width:86%;
  height:96%;
  top:4%;
  left:6%;
  opacity:0;
}

.fc-step svg text{
  fill:black;
  font-family:"Univers 59";
  font-size:105px;
}

.divider-0{
  width:7.2%;
  height:100%;
  top:0%;
  left:100%;
  opacity: 0;
  background-image:url("../Assets/ipad_bg_fc_divider@2x_4352.png");
  background-repeat: no-repeat;
  background-size: cover;
  position:absolute;
  transform-origin: right;
}

.divider{
  width:7.2%;
  height:100%;
  top:0%;
  left:0%;
  background-image:url("../Assets/ipad_bg_fc_divider@2x_4352.png");
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: inset(0% 0% 0% 0%);
  background-color: black;
}

.fc-inner{
  width:98.6%;
  height:82.6%;
  top:5%;
  left:0.7%;
  clip-path: inset(0% 0% 0% 0%);
}

.fc-inner-keyframe{
  width:100%;
  height:100%;
  background-image:url("../Assets/Inner (00-124) SpriteSheet 125 one column.png");
	animation: InnerMSS 4s steps(125) infinite;
  transform-origin: top left;
  transform: scale(1.305, 1.475);
  opacity:0.5;
}

@keyframes InnerMSS {
	from {
		background-position-y: 0px;
	}
	to {
		background-position-y: -11125px;
	}
}

.fc-shine-holder {
  width:97%;
  top:9%;
  left:1.5%;
  transform-origin: top left;
}

#fc-shine-holder-blue{
  height:82.2%;
  clip-path: inset(-1000% -1000% -1000% -1000%);
}

#fc-shine-holder-red{
  height:82.3%;
  clip-path: inset(-1000% 100% -1000% -1000%);
}

.fc-shine {
  width:101%;
  height:101%;
  top:-0.5%;
  left:-0.5%;
}

.fc-outline{
  width:100%;
  height:100%;
}

.fc-light-holder{
  width:97%;
  height:125%;
  top:-15%;
  left:1.5%;
  clip-path:inset(-1000% 0% -1000% 0%);
}

.fc-light{
  width:100%;
  height:100%;
  top:0%;
  left:0%;
  filter:brightness(200%);
  transform:scale(1.2, 1);
  transform-origin:middle;
  opacity:0;
}

/* Wipe-on Holder */

#wo-hold{
  opacity:1;
}

.wipeon {
  width:100%;
  left:0%;
  opacity:0;
}

.wipeon-keyframe{
  width:100%;
  height:100%;
  background-image:url("../Assets/CORRECT wipeOn SpriteSheet 33 one column.png");
	/*animation: WipeonMSS 0.5s steps(33);*/
  transform-origin: top left;
  transform: scale(1, 1);
  opacity:1;
}

@keyframes WipeonMSS {
	from {
		background-position-y: 0px;
	}
	to {
		background-position-y: -6171px;
	}
}